/* src/css/RecordButton.css */

.record-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}


.start-recording {
    background-color: rgb(13, 196, 13); /* Green background for "Nagraj wiadomość" */
}

.start-recording:hover {
    background-color: rgb(31, 172, 31); /* Darker green on hover */
}

/* Styles for when recording is active */
.stop-recording {
    background-color: red; /* Red background for "Zatrzymaj nagrywanie" */
}

.stop-recording:hover {
    background-color: rgb(217, 22, 22); /* Darker red on hover */
}
